<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132642664690-c9surcgnqa998qpmc1mvua42m1l9c4ih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132642664690-c9surcgnqa998qpmc1mvua42m1l9c4ih</string>
	<key>API_KEY</key>
	<string>AIzaSyDtyDxtQ3HbMpXe2Lc_lfF091I1TsZHZiU</string>
	<key>GCM_SENDER_ID</key>
	<string>132642664690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.majorTry</string>
	<key>PROJECT_ID</key>
	<string>major-project-921f6</string>
	<key>STORAGE_BUCKET</key>
	<string>major-project-921f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132642664690:ios:a3eb6aab17e65f117f206b</string>
</dict>
</plist>